<h3>{:s}</h3>
<hr />
<h4><strong>Instructions</strong></h4>
<ol>
  <li>Follow the video "Tutorial: Login Into Student Remote Lab" to login into the Remote Lab (<a href="https://vdesktop.uwyo.edu">https://vdesktop.uwyo.edu</a>).
    <br />
    <video poster="https://libaoj.in/video/Login.Into.Student.Remote.Lab.png" width="720" height="450" controls="controls">
      <source src="/{:s}/download" type="video/mp4" />
    </video>
    <br />
    <a href="https://uwyo.instructure.com/{:s}/download" data-api-endpoint="https://uwyo.instructure.com/api/v1/{:s}" data-api-returntype="File">Download the video</a>
  </li>
  <li>Watch the video "MATH 3341 Lab {:s}", go over the <a href="https://libaoj.in/courses/{:s}/MATH3341/slides/Math.3341.Lab.{:s}.Slides.pdf">slides</a>,
    and finish the <a href="https://libaoj.in/courses/{:s}/MATH3341/exercise/Math.3341.Lab.{:s}.pdf">exercise</a>.
    Here is the <a class="instructure_file_link inline_disabled" href="https://libaoj.in/courses/{:s}/MATH3341/zip/Math.3341.zip" target="_blank" rel="noopener">MATH.3341.zip</a>.
    (You can also have access to these files on <a href="https://math-3341.libaoj.in" target="_blank" rel="noopener">https://math-3341.libaoj.in</a>)
    <br />
    <video poster="https://libaoj.in/video/math-3341-{:s}/MATH.3341.Lab.{:s}.png" width="720" height="450" controls="controls">
      <source src="/{:s}/download" type="video/mp4" />
    </video>
    <a href="https://uwyo.instructure.com/{:s}/download" data-api-endpoint="https://uwyo.instructure.com/api/v1/{:s}" data-api-returntype="File">Download the video</a>
  </li>
  <li>Turn in the assignment by submitting the Overleaf generated .pdf here.</li>
</ol>
<h4><strong>Overleaf Instructions</strong></h4>
<ol>
  <li><span style="font-size: 1rem;">Go to </span><a style="font-size: 1rem;" href="https://www.overleaf.com">https://www.overleaf.com </a><span style="font-size: 1rem;">and create an account.</span></li>
  <li>Click the link of the template on overleaf: <a href="{:s}">LaTeX report template</a>.</li>
  <li>"Menu" (up left corner) - "Copy Project".</li>
  <li>Go to "LaTeX/meta.tex" to change section you are in and your name, e.g., change "Math 3341-00" to "Math 3341-01".</li>
  <li>Once you finish the exercises, please upload output files "lab_{:s}_output.txt" to the folder "src" on Overleaf. Double check the name are identical to the given above. Otherwise, Overleaf/LaTeX cannot compile the .tex file.</li>
  <li><a href="https://libaoj.in/files/LaTeX.Mathematical.Symbols.pdf" data-api-endpoint="https://uwyo.instructure.com/api/v1/{:s}" data-api-returntype="File">LaTeX.Mathematical.Symbols.pdf</a></li>
</ol>

<h4><strong>Links</strong></h4>
<ul>
  <li>Syllabus: <a href="https://uwyo.instructure.com/{:s}/download" data-api-endpoint="https://uwyo.instructure.com/api/v1/{:s}" data-api-returntype="File">MATH.3341.Syllabus.{:s}.Online.pdf</a></li>
  <li>Zoom Meeting Link: <a class="instructure_file_link inline_disabled external" href="https://uwyo.zoom.us/j/97308546048" target="_blank" rel="noopener"><span>https://uwyo.zoom.us/j/97308546048</span><span class="screenreader-only"> (Links to an external site.)</span></a></li>
  <li>Discord Invite Link: <a class="external" href="https://discord.gg/Zhm3WfKTJg" target="_blank" rel="noopener"><span>https://discord.gg/Zhm3WfKTJg</span><span class="screenreader-only"> (Links to an external site.)</span></a></li>
  <li><span>Remote Lab: <a class="external" href="https://vdesktop.uwyo.edu/" target="_blank" rel="noopener">https://vdesktop.uwyo.edu/<span class="screenreader-only"> (Links to an external site.)</span></a></span></li>
  <li>Course External Site: <a class="external" href="https://math-3341.libaoj.in" target="_blank" rel="noopener"><span>https://math-3341.libaoj.in</span></a></li>
</ul>
